.lista-produtos {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(83, 59, 105, 0.677);
  flex-wrap: wrap;
  width: 100%;
}

@media (min-width: 568px) and (max-width: 1200px) {
  .lista-produtos {
    flex-direction: row;
    gap: 1rem;
  }
}

.duvidas {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  flex-direction: column;
}

h2 {
  font-family: "Unbounded", sans-serif;
}

.whats {
  display: flex;
  min-width: 180px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 4px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.produto {
  padding: 4px;
  border-radius: 12px;
  width: 50%;
  padding: 4px;
  background-color: #fdf6ec;
  margin: 14px 5px 20px 14px;
}

.imagem {
  display: block;
  width: 100%;
  height: 220px;
  margin-bottom: 12px;
}

.imagem-produto {
  width: 100%;
  height: 100%;
  object-fit: fill;
  display: block;
  border-radius: 10px;
}

.img-whats {
  width: 30px;
}

.nome,
.tempo,
.qtd,
.preco {
  font-size: 20px;
}

.qtd {
  color: rgb(65, 31, 151);
}

.produto-dados {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 2px;
}

.nome {
  text-align: center;
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 16px;
  font-family: "Unbounded", sans-serif;
  color: rgb(65, 31, 151);
}

.produto-preco-qtd {
  display: flex;
  justify-content: space-between;
  margin: 2px 0 2px 0;
  font-size: 8px;
}

.produto-disponivel-dimensoes {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 20px;
  color: rgb(65, 31, 151);
}

.dimensoes {
  margin-left: 4px;
  font-size: 20px;
}

.tempo {
  font-size: 20px;
  color: rgb(65, 31, 151);
}

.btn {
  margin-top: 8px;
  border: 1px solid #8d6e63;
  border-radius: 5px;
  background-color: #a0522d;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  padding: 4px;
  text-align: center;
}

@media (min-width: 300px) and (max-width: 330px) {
  .produto {
    min-width: 260px;
    max-width: 260px;
    min-height: 450px;
    margin-right: 10px;
  }

  .lista-produtos {
    justify-content: center;
    margin: 10px 0px 10px 20px;
  }

  .imagem {
    height: 350px;
  }

  .duvidas {
    h2 {
      font-size: 12px;
      margin-left: 30px;
    }

    .whats {
      margin-left: 20px;
    }
  }
}

@media (min-width: 331px) and (max-width: 400px) {
  .lista-produtos {
    justify-content: center;
    margin-top: 10px;
  }

  .produto {
    min-width: 300px;
    max-width: 300px;
    min-height: 420px;
    margin-right: 10px;
  }

  .imagem {
    height: 300px;
  }

  .whats {
    margin-left: 10px;
  }

  .duvidas {
    h2 {
      font-size: 14px;
      margin-left: 34px;
    }
  }
}

@media (min-width: 401px) and (max-width: 420px) {
  .lista-produtos {
    justify-content: center;
    margin-right: 2px;
    margin-top: 10px;
  }

  .produto {
    min-width: 320px;
    max-width: 320px;
    min-height: 400px;
    margin-top: 30px;
  }

  .imagem {
    height: 420px;
  }
}

@media (min-width: 421px) and (max-width: 472px) {
  .lista-produtos {
    margin: 10px auto;
  }

  .produto {
    min-width: 340px;
    max-width: 340px;
    min-height: 400px;
    margin: 22px auto;
  }

  .imagem {
    height: 460px;
  }
}

@media (min-width: 472px) and (max-width: 572px) {
  .lista-produtos {
    margin: 0 auto;
  }

  .produto {
    min-width: 400px;
    max-width: 400px;
    margin: 32px auto;
  }

  .imagem {
    height: 520px;
  }
}

@media (min-width: 572px) and (max-width: 668px) {
  .lista-produtos {
    margin: 20px auto;
  }

  .produto {
    min-width: 420px;
    max-width: 420px;
    min-height: 650px;
    margin: 30px 0 0 0;
  }

  .imagem {
    height: 420px;
  }
}

@media (min-width: 568px) and (max-width: 920px) {
  .lista-produtos {
    align-items: center;
    justify-content: center;
  }

  .produto {
    min-width: 460px;
    max-width: 460px;
    min-height: 650px;
    margin-top: 30px;
  }

  .imagem {
    height: 480px;
  }
}

@media (min-width: 920px) and (max-width: 1200px) {
  .lista-produtos {
    justify-content: space-between;
  }

  .produto {
    min-width: 420px;
    max-width: 420px;
    min-height: 750px;
  }

  .imagem {
    height: 600px;
  }
}

@media (min-width: 1200px) and (max-width: 1900px) {
  .imagem {
    height: 390px;
  }

  .lista-produtos {
    justify-content: space-between;
  }

  .produto {
    min-width: 400px;
    max-width: 400px;
    min-height: 700px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  }

  .imagem {
    height: 500px;
  }
}

@media (min-width: 1900px) and (max-width: 4000px) {
  .produto {
    min-width: 390px;
    max-width: 390px;
    min-height: 480px;
    margin-right: 10px;
  }
}

.botao-saiba-mais {
  margin: 0 auto;
  padding: 3px;
  border-radius: 5px;
  width: 100px;
}

.saiba-mais {
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 450px;
    max-width: 80%;

    background: white;
    border-radius: 12px;
    padding: 20px;

    box-shadow: 0 12px 30px rgba(0, 0, 0, .25);

    z-index: 1000;
}

.overlay {
    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(170, 148, 148, 0.45);

    z-index: 999;
}

.mais-info {
  text-align: center;
  font-size: 20px;
}

.saiba-mais-dados {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  gap: 4px;
  margin-left: 3px;
  margin-top: 10px;
  background-color: white;
}

.info-fechar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.botao-sair {
  padding: 2px;
  border-radius: 6px;
  border: none;
  text-align: right;
  background-color: wheat;
}
