<section class="sessao-1">
  <section class="apresentacao">
    <h1 class="texto-principal">Quem somos nós?</h1>
  </section>

  <p class="texto-secundario">
    Somos apaixonados pelo artesanato feito à mão, onde cada peça carrega
    <span class="destaque">dedicação, criatividade</span> e um pedacinho da nossa alma. Nascemos do desejo de
    valorizar a arte manual e levar até você produtos únicos, criados com
    <span class="destaque-secundario">cuidado e muito amor</span>. Aqui você não encontra cópias — encontra histórias.
  </p>
<div class="h2-hr">
    <h2>Veja nossos produtos abaixo</h2>
    <hr>
</div>

  
</section>
