<div class="produto">
  <div class="produto-dados">
    <span class="imagem"><img src="banqueta.jpg" alt="" /></span>
    <span class="nome">{{produto.nome}}</span>
    <div class="produto-preco-qtd">
      <span class="preco">Preço: {{produto.preco |currency:"BRL"}}</span>
      <span class="qtd">Quantidade:{{produto.quantidade}}</span>
    </div>
    <div class="produto-disponivel-dimensoes">
       @if (produto.quantidade == 0) {
        <span class="disponivel">Disponivel:Não</span>
      } 
      <span class="dimensoes">Dimensões: {{produto.dimensoes}}</span>
    </div>
    <span class="tempo">Tempo de producao:{{produto.tempoProducao}}</span>
    <button class="btn" (click)="comprar()">Comprar</button>
  </div>
</div>
